{% extends "layout.html.twig" %}

{% block content %}
    Existing teams
    <br>

    <table>
        <thead>
            A
        </thead>
        <thead>
        asad
        </thead>
    </table>
{% endblock %}
