{% extends "layout.html.twig" %}

{% block content %}
    Welcome to your new Silex Application!
    <ul class="nav nav-tabs">
        <li><a href="#a" data-toggle="tab">a</a></li>
        <li><a href="#b" data-toggle="tab">b</a></li>
        <li><a href="#c" data-toggle="tab">c</a></li>
        <li><a href="#d" data-toggle="tab">d</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="a">AAA</div>
        <div class="tab-pane" id="b">BBB</div>
        <div class="tab-pane" id="c">CCC</div>
        <div class="tab-pane" id="d">DDD</div>
    </div>
{% endblock %}
